.listContainer{
  position: relative;
}

.listContainer ul{
  margin-left: 0;
}

.listList{
  position: absolute;
  top: 100%;
  background: rgb(var(--white));
  left: 0;
  box-shadow: var(--shadow);
}

.listList li{
  display: grid;
  align-items: center;
  justify-items: center;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.listList li:hover{
  background: rgb(var(--pale-grey));
}